{% extends 'compumundohipermegared.html' %}{% block titulo %}
<title>Grupos de actividades</title>
{% endblock %} {% block content %}
<!-- MENSAJE DE ERROR ACA -->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}')
</script>
{% endfor %} {% endif %}

{% if actividades %}
{% for actividad in actividades  %}
<p>{{actividad.titulo}}</p>
<p>{{actividad.descripcion}}</p>
<p>{{actividad.encargado}}</p>
<p>{{actividad.fecha}}</p>
{% endfor %}

{% else %}
<p>No existen actividades en este momento.</p>
{% endif %}
    


{% endblock %}