<!-- templates/autenticacion/login.html -->
{% extends 'base.html' %} {% block title %}Inicio de Sesión{% endblock %} {% block content %}

<div class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-login">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 ml-auto login-section"></div>
              <div class="col-md-6 ml-auto">
                <h2 class="card-title text-center">logo</h2>
                <form class="form" method="POST" action="">
                  {% csrf_token %}
                  <fieldset>
                    <label for="username">Correo</label>
                    <input type="email" id="username" name="username" required/>
                  </fieldset>
                  <fieldset>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" class="input-with-button" required/>
                    <button class="mi mi-Light" data-toggle-password-visibility>
                    </button>
                  </fieldset>
                  <span>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                  </span>
                  <fieldset>
                    <input type="checkbox" id="remember-me" />
                    <label for="remember-me">Recordarme</label>
                  </fieldset>
                  <button type="submit" class="btn btn-default btn-block">
                    <i class="mi mi- mi-1x"></i> Iniciar Sesión</button>
                  <div class="text-center">
                    <span>o</span>
                  </div>
                </form>
                <a href="{% url 'social:begin' 'facebook' %}">
                  <button class="btn btn-primary btn-block">
                  <i class="mi mi-facebook-official mi-1x"></i> Iniciar Sesión con Facebook</button>
                </a>
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                  <button class="btn btn-warning btn-block">
                    <i class="mi mi-google-plus mi-1x"></i> Iniciar Sesión con Google+</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}