{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>{{ object.titulo }}</title>
{% endblock %} {% block content %}
<div class="container-fluid" style="padding: .5rem 1.5rem;">
    <div class="section-things rounded-top pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    {% if object %}
                    <div class="section-description mt-2">
                        <span>Creado el {{ object.fecha_creacion }}</span>
                        <h3 class="title m-0">
                            <strong>{{ object.titulo }}</strong>
                        </h3>
                        <span>Fecha de inicio {{ object.fecha_inicio }}</span>
                        <br>
                        <span>Fecha de termino {{ object.fecha_finalizacion }}</span>
                        <h4 class="description">{{ object.descripcion }}</h4>
                    </div>
                 
                    {% endif %}
                    <a class="recurso btn btn-primary" data-form="{% url 'consulta_update' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Edit mi-4x"></i> Editar
                    </a>
                    <a class="recurso btn btn-danger" data-form="{% url 'consulta_delete' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Download mi-4x"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>
    </div>
{% comment %} boton para agregar propuesta solo para el autor del recurso {% endcomment %}
{% if object.autor == user %}
<a href="{% url 'crear_propuesta' object.pk %}">
<button>Agregar propuesta</button></a>
{% else %}
{% endif %}

{% comment %} LISTA DE PROPUESTAS {% endcomment %}
{% if propuestas %}
    {% for propuesta in propuestas %}
        <p>{{propuesta.titulo}}</p>
        <p>{{propuesta.descripcion}}</p>
        <p>{{propuesta.fecha_creacion}}</p>
        <p>{{propuesta.contenido}}</p>
        <p>{{propuesta.votos}}</p>

        {% comment %} boton para modificar o eliminar propuesta solo para el autor del recurso {% endcomment %}
        {% if object.autor == user %}
        <a href="{% url 'editar_propuesta' propuesta.pk %}">
        <button>Editar propuesta</button></a>
        <a href="{% url 'eliminar_propuesta' propuesta.pk %}">
        <button>Eliminar propuesta</button></a>
        {% else %}
        {% endif %}
    {% endfor %}   
{% else %}
    <p>No existen propuestas en este momento.</p>
{% endif %}

{% endblock content %}