{% extends 'compumundohipermegared.html' %}
{% load consulta_tags %}
{% block titulo %}
<title>Votación de {{consulta.titulo}} </title>
{% endblock %} {% block content %}

<div class="bg-white position-relative rounded-top p-2 mt-4 shadow-sm">
    <h3 class="mb-1">{{consulta.titulo}}</h3>
    <span>¿Por cúal de estas propuestas disponibles en '<strong>{{consulta.titulo}}</strong>' deseas votar?</span>
</div>

<!-- MENSAJE DE ERROR ACA -->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}')
</script>
{% endfor %} {% endif %}

{% if propuestas %}
<div class="bg-white rounded-bottom pt-1 shadow-sm">
    <form method="POST">
    {% csrf_token %}
    {% for propuesta in propuestas %}
    <div class="bg-light shadow-sm m-2 mt-2 p-2">
        <input type="radio" name="eleccion" id="eleccion{{ forloop.counter }}" value="{{ propuesta.pk }}"/>
        <label for="eleccion{{ forloop.counter }}">{{propuesta.titulo}}</label>
    </div>

    {% endfor %}  
    {% if request|is_anonimo %}
    <div class="bg-light shadow-sm m-2 mt-2 p-2">
        <label for="rut">Rut:</label><br/>
        <input type="text" name="rut" id="rut" required/>
        
    </div>
    {% endif %}
    <div class="p-2">
        <button type="submit" class="btn btn-primary m-0 p-2">VOTAR</button>
    </div>
    </form> 
</div>
{% else %}
    <div class="bg-white rounded p-5 mt-2 text-center">
        No existen <strong>propuestas</strong> en este momento.
    </div>
{% endif %}

{% endblock content %}