{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>{{ object.titulo }}</title>
{% endblock %} {% block content %}
{% load consulta_tags %}
<!-- MENSAJE DE ERROR ACA -->
{% if messages %} {% for message in messages %}
<script>
    alert('{{ message }}')
</script>
{% endfor %} {% endif %}
<div class="container-fluid position-relative p-0" style="width: calc(100% + 80px); right: 40px;">
    <div class="bg-primary pb-2 pt-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    {% if object %}
                    <div class="section-description mt-2">
                        <h2 class="title m-0">
                            <strong>{{ object.titulo }}</strong>
                        </h2>
                        <small>Creado el <strong>{{object.fecha_creacion}}</strong> por <strong>{{object.autor}}</strong></small>
                        
                        <h4 class="description mt-2">{{ object.descripcion }}</h4>

                        <div class="text-white mr-2 p-0 mt-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <small>
                                        <i class="mi mi-DateTime mi-lg"></i> Fecha de Inicio:
                                        <strong id="autor_recurso">{{ object.fecha_inicio}}</strong>
                                    </small>
                                </div>
                                <div class="col-md-6">
                                    <small>
                                        <i class="mi mi-DateTimeMirrored mi-lg"></i> Fecha de Término:
                                        <strong>{{ object.fecha_finalizacion }}</strong>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    {% endif %}
                    <a class="recurso btn btn-primary border" data-form="{% url 'consulta_update' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Edit mi-4x"></i> Editar
                    </a>
                    <a class="recurso btn btn-danger" data-form="{% url 'consulta_delete' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Download mi-4x"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} boton para agregar propuesta solo para el autor de la consulta {% endcomment %}
{% if request|is_autor_consulta:object.autor %}
<div class="pb-5">
    <a class="btn btn-primary float-right btn-sm p-2 mt-3" href="{% url 'crear_propuesta' object.pk %}">
        <i class="mi mi-Add mi-4x"></i> AGREGAR PROPUESTA
    </a>
</div>
{% else %}
{% endif %}
{% comment %} LISTA DE PROPUESTAS {% endcomment %}

<div class="section-resources">
    {% comment %} boton para VOTAR {% endcomment %}
    <div class="card col-md-12 mt-4 mb-1 pb-2 rounded-0 shadow-sm">
        <div class="card-body">
            <h5 class="card-text pt-2 text-center">¿Te interesa alguna propuesta? Entonces, ¡Vota por alguna de ellas!</h5>
        </div>
        <div>
            <a class="btn btn-primary btn-block btn-sm p-3 mt-2 pr-5 pl-5" href="{% url 'consulta_votar' object.pk %}">
                VOTAR
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto p-0">
                <div class="grid-container" style="grid-template-columns: 1fr;">
                    {% if propuestas %} {% for propuesta in propuestas %}
                    <div class="grid-item pt-2 pb-2 pr-2">
                        <a href="{% url 'visualizar_propuesta' propuesta.pk %}">
                            <div class="row align-items-center">
                                <div class="col-md-2 text-center bg-primary rounded-right">
                                    <h2 class="font-weight-bold">#{{forloop.counter}}</h2>
                                </div>
                                <div class="col-md-10 text-left">
                                    <div class="text-uppercase">
                                        <h4>
                                            <strong>{{ propuesta.titulo }}</strong>
                                        </h4>
                                    </div>
                                    <div class="text-justify">
                                        <p>{{ propuesta.descripcion }}</p>
                                    </div>
                                    <div class="text-justify">
                                        <i class="mi mi-Package"></i><small> Cantidad de votos: {{ propuesta.votos }}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %} {% else %} <div class="bg-white rounded p-4 m-4 text-center">No existen <strong>propuestas</strong> en estos momentos.</div> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="recursoModal"></div>
{% endblock content %}