{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>{{ object.titulo }}</title>
{% endblock %} {% block content %}
<div class="container-fluid" style="padding: .5rem 1.5rem;">
    <div class="section-things rounded-top pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    {% if object %}
                    <div class="section-description mt-2">
                        <span>Creado el {{ object.fecha_creacion }}</span>
                        <h3 class="title m-0">
                            <strong>{{ object.titulo }}</strong>
                        </h3>
                        <span>Fecha de inicio {{ object.fecha_inicio }}</span>
                        <br>
                        <span>Fecha de termino {{ object.fecha_finalizacion }}</span>
                        <h4 class="description">{{ object.descripcion }}</h4>
                    </div>
                 
                    {% endif %}
                    <a class="recurso btn btn-primary" data-form="{% url 'consulta_update' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Edit mi-4x"></i> Editar
                    </a>
                    <a class="recurso btn btn-danger" data-form="{% url 'consulta_delete' object.pk %}" data-toggle="modal" data-target="#recursoModal">
                        <i class="mi mi-Download mi-4x"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} boton para VOTAR {% endcomment %}
<div class="card col-md-12 mt-4 mb-2 pb-2">
    <div class="card-body">
        <h5 class="card-text pt-2">¿Te interesa alguna propuesta? Entonces, ¡Vota por alguna de ellas!</h5>
    </div>
    <div>
        <a class="btn btn-primary float-left btn-sm p-3 mt-2 pr-5 pl-5" href="{% url 'consulta_votar' object.pk %}">
            VOTAR
        </a>
    </div>
</div>
{% comment %} boton para agregar propuesta solo para el autor de la consulta {% endcomment %}
{% if object.autor == user %}
<div class="pb-5">
    <a class="btn btn-primary float-right btn-sm p-2 mt-3" href="{% url 'crear_propuesta' object.pk %}">
        <i class="mi mi-Add mi-4x"></i> AGREGAR PROPUESTA
    </a>
</div>
{% else %}
{% endif %}
{% comment %} LISTA DE PROPUESTAS {% endcomment %}

<div class="section-resources">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto p-0">
                <div class="grid-container" style="grid-template-columns: 1fr;">
                    {% if propuestas %} {% for propuesta in propuestas %}
                    <div class="grid-item pt-2 pb-2 pr-2">
                        <a href="{% url 'visualizar_propuesta' propuesta.pk %}">
                            <div class="row align-items-center">
                                <div class="col-md-2 text-center bg-primary rounded-right">
                                    <h2 class="font-weight-bold">#{{forloop.counter}}</h2>
                                </div>
                                <div class="col-md-10 text-left">
                                    <div class="text-uppercase">
                                        <h4>
                                            <strong>{{ propuesta.titulo }}</strong>
                                        </h4>
                                    </div>
                                    <div class="text-justify">
                                        <p>{{ propuesta.descripcion }}</p>
                                    </div>
                                    <div class="text-justify">
                                        <i class="mi mi-Package"></i><small> Cantidad de votos: {{ propuesta.votos }}</small>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="m-2 p-2">
                                <div class="text-uppercase">
                                    <h4>
                                        <strong>{{ propuesta.titulo }}</strong>
                                    </h4>
                                </div>
                                <div class="text-justify">
                                    <p>{{ propuesta.descripcion }}</p>
                                </div>
                                <div class="text-justify">
                                    <i class="mi mi-Package"></i><small> Cantidad de votos: {{ propuesta.votos }}</small>
                                </div>
                            </div> -->
                        </a>
                    </div>
                    {% endfor %} {% else %} <div class="bg-white rounded p-4 m-4 text-center">No existen <strong>propuestas</strong> en estos momentos.</div> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- {% if propuestas %}
    {% for propuesta in propuestas %}
        
        <a href="{% url 'visualizar_propuesta' propuesta.pk %}">
        <div>
        <p>{{propuesta.titulo}}</p>
        <p>{{propuesta.descripcion}}</p>
        <p>{{propuesta.votos}}</p>
        </div></a>
        <br>
        
    {% endfor %}   
{% else %}
    <p>No existen propuestas en este momento.</p>
{% endif %} -->

<div class="modal" id="recursoModal"></div>
{% endblock content %}