{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Consultas Ciudadanas</title>
{% endblock %} {% block content %}
{% load static %}
{% load validacion_navbar %}
<div class="card col-md-12 mt-4 mb-2 pb-4">
    <div class="card-body">
        <h3 class="card-title">Consultas Ciudadanas</h3>
        <p class="card-text">Bienvenido a la sección de las
            <strong>consultas ciudadanas</strong>. Aquí podrá
            <strong>crear</strong>,
            <strong>editar</strong>,
            <strong>eliminar</strong> y mucho mas. </p>
            <!-- <img src={% static 'assets/consulta-ciudadana-icon.svg' %} width="56" height="56" alt=""> -->
    </div>
</div>
{% if request|encargado_required %}
<div class="pb-5">
    <a class="btn btn-md btn-primary float-right mt-3 mb-3" href={% url 'crear_consulta' %}>
        <i class="mi mi-Add mi-4x"></i> CREAR CONSULTA
    </a>
</div>
{% endif %}
<div class="bg-white rounded shadow-sm mt-4 section-resources">
    {% if lista_consultas %} 
    <div class="grid-container" style="grid-template-columns: repeat(3, 1fr);">
        {% for consulta in lista_consultas %}
        <div class="grid-item" style="background: linear-gradient(to left, rgb(0, 82, 146), rgb(0, 150, 220));">
            <a href="{% url 'detalles_consulta' consulta.id %}">
                <div class="m-3 text-white">
                    <div class="text-uppercase">
                        <h4>
                            <strong>{{consulta.titulo}}</strong>
                        </h4>
                    </div>
                    <div class="text-white mr-2 mb-2 pb-1">
                        <small>
                            Creado por
                            <strong id="autor_recurso"> {{ consulta.autor }}</strong> el
                            <strong>{{ consulta.fecha_creacion }}</strong>
                        </small>
                    </div>
                    <div class="text-justify font-weight-bold">
                        <p>{{ consulta.descripcion }}</p>
                    </div>
                    <div class="text-white mr-2 p-0">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <small>
                                    <i class="mi mi-DateTime"></i> Inicio:
                                    <strong id="autor_recurso">{{ consulta.fecha_inicio}}</strong>
                                </small>
                            </div>
                            <div class="col-md-6 text-center">
                                <small>
                                    <i class="mi mi-DateTimeMirrored"></i> Término:
                                    <strong>{{ consulta.fecha_finalizacion }}</strong>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %} 
        {% else %} 
            <div class="bg-white rounded p-4 m-4 text-center">No existen <strong>consultas ciudadanas</strong> en estos momentos.</div> 
        {% endif %}
    </div>
</div>
{% endblock content %}