{% extends 'compumundohipermegared.html' %}{% block titulo %}
<title>Crear Consulta</title>
{% endblock %} {% block content %}
<div class="bg-white rounded p-3 mt-4 shadow-sm">
    <div class="text-center mb-3">
        <h4 class="font-weight-bold pb-2">Crear Consulta Ciudadana</h4>
    </div>
    <table>
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <tr>
                <td>{{ form.as_table }}</td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary btn-block" type="submit" value="Guardar">
                </td>
            </tr>
        </form>
    </table>
</div>
{% endblock content %}