{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>{{ object.titulo }}</title>
{% endblock %} {% block content %}


<p>{{object.titulo}}</p>
<p>{{object.descripcion}}</p>
<p>{{object.contenido}}</p>
<p>{{object.votos}}</p>
<p>{{object.fecha_creacion}}</p>


{% comment %} boton para modificar o eliminar propuesta solo para el autor de la consulta {% endcomment %}
{% if object.autor == user %}

<a class="recurso btn btn-primary" data-form="{% url 'editar_propuesta' object.pk %}" data-toggle="modal" data-target="#recursoModal">
    <i class="mi mi-Edit mi-4x"></i> Editar propuesta
</a>
<a class="recurso btn btn-danger" data-form="{% url 'eliminar_propuesta' object.pk %}" data-toggle="modal" data-target="#recursoModal">
    <i class="mi mi-Download mi-4x"></i> Eliminar propuesta
</a>

{% else %}
{% endif %}

<div class="modal" id="recursoModal"></div>
{% endblock content %}