<!-- <form class="well contact-form" method="POST" action="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Editing Number</h3>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <table>{{form.as_p}}</table>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form> -->

<!-- Modal -->
<form class="well recurso-form" method="POST" action="{% url 'recurso-update' object.pk %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Recurso Académico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %} {{form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</form>