{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Recursos Academicos</title>
{% endblock %} 
 {% block content %}

<div class="card col-md-12 mt-4 mb-2 pb-4">
    <div class="card-body">
        <h3 class="card-title">Recursos Académicos</h3>
        <p class="card-text">Bienvenido a la sección de los
            <strong>recursos académicos</strong>. Aquí podrá
            <strong>crear</strong>,
            <strong>editar</strong>,
            <strong>eliminar</strong>,
            <strong>descargar</strong> y mucho mas. </p>
    </div>
</div>

<div class="pb-5">
    <a class="btn btn-md btn-primary float-right mt-3 mb-3" href="{% url 'recurso-nuevo'%}">
        <i class="mi mi-Add mi-4x"></i> CREAR RECURSO ACADÉMICO
    </a>
</div>

<div class="bg-white rounded shadow-sm mt-4 section-resources">
    {% if lista_recursos %} 
    <div class="grid-container">
        {% for recurso in lista_recursos %}
        <div class="grid-item">
            <a href="{{ recurso.id }}">
                <div style="height: 150px;">
                    <div class="overlay-image">
                        <img class="img-resource" src="media/{{ recurso.imagen_descriptiva }}">
                    </div>
                    <div class="d-flex align-items-end flex-column position-relative" style="bottom: 9.4rem; right: 5px">
                        <div class="p-2">
                            {% if recurso.tema == 1 %}
                            <span class="badge badge-pill badge-primary">Formación Ciudadana</span>
                            {% elif recurso.tema == 2 %}
                            <span class="badge badge-pill badge-primary">Convivencia Escolar</span>
                            {% else %}
                            <span class="badge badge-pill badge-primary">Otros</span>
                            {% endif %}
                        </div>
                        <div class="bg-white rounded-0 mr-2 pr-1 pl-1">
                            <small class="text-muted">VALORACIÓN: {{recurso.valoracionTotal}}/5.0</small>
                        </div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="text-muted mr-2 pb-1">
                        <small>
                            Creado por
                            <strong id="autor_recurso">{{ recurso.autor }}</strong> el
                            <strong>{{ recurso.fecha_creacion }}</strong>
                        </small>
                    </div>
                    <div class="text-uppercase">
                        <h4>
                            <strong>{{ recurso.titulo }}</strong>
                        </h4>
                    </div>
                    <div class="text-justify">
                        <p>{{ recurso.descripcion }}</p>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %} 
        {% else %} 
            <div class="bg-white rounded p-4 m-4 text-center">No existen <strong>recursos académicos</strong> en estos momentos.</div> 
        {% endif %}

    </div>
</div>

<div class="modal" id="recursoModal"></div>
{% endblock content %}