{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Recursos Academicos</title>
{% endblock %} {% block navbar %}
<ul class="list-unstyled components">
    <li>
        <a href="#">
            <i class="mi mi-Home"></i> Inicio</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-ChatBubbles"></i> Mensajes</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Alumnos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Apoderados</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-People"></i> Grupos</a>
    </li>
    <li class="active">
        <a href="{% url 'biblioteca_digital' %}">
            <i class="mi mi-Library"></i> Recursos Académicos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Megaphone"></i> Consultas Ciudadanas</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Feedback"></i> Foro</a>
    </li>
</ul>

{% endblock %} {% block content %}
<a href="recurso_nuevo">
    <button class="btn btn-primary float-right mb-3 text-uppercase">Crear Recurso Académico</button>
</a>
<div class="card col-md-12 ">
    <div class="card-body">
        <h3 class="card-title">Recursos Académicos</h3>
        <p class="card-text">Bienvenido a la sección de los
            <strong>recursos académicos</strong>. Aquí podrá
            <strong>crear</strong>,
            <strong>editar</strong>,
            <strong>eliminar</strong>,
            <strong>descargar</strong> y mucho mas. </p>
    </div>
</div>
<div class="section-resources">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto p-0">
                <div class="grid-container">
                    {% if lista_recursos %} {% for recurso in lista_recursos %}
                    <div class="grid-item">
                        <a href="{{ recurso.id }}">
                            <div style="height: 150px;">
                                <div class="overlay-image">
                                    <img class="img-resource" src="media/{{ recurso.imagen_descriptiva }}">
                                </div>
                                <div class="d-flex align-items-end flex-column position-relative" style="bottom: 9.4rem; right: 5px">
                                    <div class="p-2">
                                        {% if recurso.tema == 1 %}
                                        <span class="badge badge-pill badge-primary">Formación Ciudadana</span>
                                        {% elif recurso.tema == 2 %}
                                        <span class="badge badge-pill badge-primary">Convivencia Escolar</span>
                                        {% else %}
                                        <span class="badge badge-pill badge-primary">Otros</span>
                                        {% endif %}
                                    </div>
                                    <div class="total-star-rating mr-2">
                                        <span class="mi mi-FavoriteStar text-white" data-rating="1"></span>
                                        <span class="mi mi-FavoriteStar text-white" data-rating="2"></span>
                                        <span class="mi mi-FavoriteStar text-white" data-rating="3"></span>
                                        <span class="mi mi-FavoriteStar text-white" data-rating="4"></span>
                                        <span class="mi mi-FavoriteStar text-white" data-rating="5"></span>
                                        <input type="hidden" name="valoracion" class="total-rating-value" value="{{ recurso.valoracionTotal }}">
                                    </div>
                                </div>
                            </div>
                            <div class="m-2">
                                <div class="text-muted mr-2 pb-1">
                                    <small>
                                        Creado por
                                        <strong id="autor_recurso">{{ recurso.autor }}</strong> el
                                        <strong>{{ recurso.fecha_creacion }}</strong>
                                    </small>
                                </div>
                                <div class="text-uppercase">
                                    <h4>
                                        <strong>{{ recurso.titulo }}</strong>
                                    </h4>
                                </div>
                                <div class="text-justify">
                                    <p>{{ recurso.descripcion }}</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %} {% else %} No existen recursos en estos momentos. {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="recursoModal"></div>

{% endblock content %}