{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Recursos Academicos</title>
{% endblock %} {% block navbar %}
<ul class="list-unstyled components">
    <li>
        <a href="#">
            <i class="mi mi-Home"></i> Inicio</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-ChatBubbles"></i> Mensajes</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Alumnos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Apoderados</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-People"></i> Grupos</a>
    </li>
    <li class="active">
        <a href="#">
            <i class="mi mi-Library"></i> Recursos Académicos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Megaphone"></i> Consultas Ciudadanas</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Feedback"></i> Foro</a>
    </li>

</ul>
{% endblock %} {% block content %}
<div class="container-fluid" style="padding: .5rem 1.5rem;">
    <div class="section-things" style="border-radius: .25rem .25rem 0 0; padding-bottom: 2rem;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    {% if object %}
                    <div class="section-description mt-2">
                        <img class="card-img-top " src="../media/{{ object.imagen_descriptiva }}" alt="{{ object.titulo }}" style="border-radius: 10rem">

                        <div class="star-rating">
                            <span class="mi mi-FavoriteStar" data-rating="1" onclick="valorEstrella(this,'{{csrf_token}}')"></span>
                            <span class="mi mi-FavoriteStar" data-rating="2" onclick="valorEstrella(this,'{{csrf_token}}')"></span>
                            <span class="mi mi-FavoriteStar" data-rating="3" onclick="valorEstrella(this,'{{csrf_token}}')"></span>
                            <span class="mi mi-FavoriteStar" data-rating="4" onclick="valorEstrella(this,'{{csrf_token}}')"></span>
                            <span class="mi mi-FavoriteStar" data-rating="5" onclick="valorEstrella(this,'{{csrf_token}}')"></span>
                            <input type="hidden" class="rating-value">
                        </div>

                        <span>Creado el {{ object.fecha_creacion }}</span>
                        <h3 class="title m-0">
                            <strong>{{ object.titulo }}</strong>
                        </h3>
                        <h6 class="description m-2">
                            {% if object.tema == 1 %}
                            <span class="badge badge-pill badge-primary">Formación Ciudadana</span>
                            {% elif object.tema == 2 %}
                            <span class="badge badge-pill badge-primary">Convivencia Escolar</span>
                            {% else %}
                            <span class="badge badge-pill badge-primary">Otros</span>
                            {% endif %}
                        </h6>
                        <h4 class="description">{{ object.descripcion }}</h4>
                    </div>
                    <a href="descargar/" class="btn btn-default">
                        <i class="mi mi-Download mi-4x"></i> Descargar
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">

            {% if object %}
            <h5>Ejemplo con GView</h5>

            <div class="card col-md-12">
                <!-- <img class="rounded mx-auto d-block m-4" src="../media/{{ object.archivo }}" alt="{{ object.titulo }}"> -->
                <iframe class="mx-auto m-4" width="100%" height="800" frameborder="0" src="http://docs.google.com/gview?url=https://dl.dropbox.com/s/tpxqmv0o39fd858/Proceso%20Administrativo.ppt&embedded=true"></iframe>
            </div>
            <div class="card col-md-12">
                <h5>Comentarios</h5>
                <hr>

            </div>


            <!-- <iframe width="600" height="800" frameborder="0" src="http://docs.google.com/gview?url=https://dl.dropbox.com/s/tpxqmv0o39fd858/Proceso%20Administrativo.ppt&embedded=true"></iframe> -->


            {% else %} No existen comentarios{% endif %}

        </div>
    </div>
</div>
{% endblock %}