{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Crear Recurso Académico</title>
{% endblock %} {% block navbar %}
<ul class="list-unstyled components">
    <li>
        <a href="#">
            <i class="mi mi-Home"></i> Inicio</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-ChatBubbles"></i> Mensajes</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Alumnos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Education"></i> Apoderados</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-People"></i> Grupos</a>
    </li>
    <li class="active">
        <a href="{% url 'biblioteca_digital' %}">
            <i class="mi mi-Library"></i> Recursos Académicos</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Megaphone"></i> Consultas Ciudadanas</a>
    </li>
    <li>
        <a href="#">
            <i class="mi mi-Feedback"></i> Foro</a>
    </li>
</ul>
{% endblock %}{% block content %}
<table>
    <form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <tr>
        <td>{{ form.as_table }}</td>
    </tr>
    <tr>
        <td><input class="btn btn-primary btn-block" type="submit" value="Guardar"></td>
    </tr>
    </form>
</table>

{% endblock content %}
