{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Crear Recurso Académico</title>
{% endblock %}{% block content %}

<div class="bg-white rounded p-3 mt-4 shadow-sm">
    <div class="text-center mb-3">
        <h4 class="font-weight-bold text-uppercase pb-2">Crear nuevo recurso</h4>
    </div>
    <form method="POST" enctype="multipart/form-data" action="{% url 'recurso-nuevo' %}">
        {% csrf_token %}
        <div class="form-group row">
            <label for="id_titulo" class="col-sm-2 col-form-label">Título:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext rounded" id="id_titulo" name="{{ form.titulo.name }}" 
                    {% if form.titulo.value != None %} value="{{ form.titulo.value|stringformat:'s' }}"{% endif %} 
                    maxlength="{{ form.titulo.field.max_length }}"
                    placeholder="Ej: Recurso #1" 
                    {% if form.titulo.field.required %}required{% endif %}>
                    <!-- data-toggle="tooltip" title="{{ form.titulo.help_text }}" -->
                    {% if form.titulo.errors %}
                        {% for error in form.titulo.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.titulo.help_text %}
                    <div class="bg-light rounded px-2 my-2">
                        <small class="text-info">{{ form.titulo.help_text }}</small>
                    </div>
                    {% endif %}
            </div>
        </div>


        <div class="form-group row">
            <label for="id_descripcion" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="id_descripcion" rows="5" name="{{ form.descripcion.name }}" 
                maxlength="{{ form.descripcion.field.max_length }}" {% if form.descripcion.field.required %}required{% endif %}>{% if form.descripcion.value != None %}{{ form.descripcion.value|stringformat:'s' }}{% endif %}</textarea>
                <!-- <p>{{form.descripcion.value|length}}</p> -->
                {% if form.descripcion.errors %}
                <ul class="list-unstyled">
                    {% for error in form.descripcion.errors %}
                    <li><small class="text-danger">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if form.descripcion.help_text %}
                <div class="bg-light rounded px-2 my-2">
                    <small class="text-info">{{ form.descripcion.help_text }}</small>
                </div>
                {% endif %}
            </div>
        </div>


        <div class="form-group row">
            <label for="id_tema" class="col-sm-2 col-form-label">Tema:</label>
            <div class="col-sm-10">
                <select class="form-control" name="{{ form.tema.name }}" id="id_tema">
                    <option value="1">Formación Ciudadana</option>
                    <option value="2">Convivencia Escolar</option>
                    <option value="3">Otros</option>
                </select>
            </div>
        </div>

        {% if form.errors %}
        <div class="alert alert-info">
            <strong>Por favor, vuelva a ingresar la imagen descriptiva y archivo</strong>
        </div>
        <!-- <div class="bg-light rounded px-2 my-2">
            <small class="text-danger">Por favor, vuelva a ingresar la imagen descriptiva y archivo</small>
        </div> -->
        {% endif %}

        <div class="form-group row">
            <label for="id_imagen_descriptiva" class="col-sm-2 col-form-label">Imagen Descriptiva:</label>
            <div class="col-sm-10">
                {% if form.imagen_descriptiva.value != None %}
                <small>Actualmente:  <a href="{{form.imagen_descriptiva.value.url}}"> {{form.imagen_descriptiva.value}}</a> </small>
                {% endif %}
                <input type="file" class="dropify form-control-plaintext" id="id_imagen_descriptiva" 
                name="{{ form.imagen_descriptiva.name }}" 
                {% if form.imagen_descriptiva.field.required %}required{% endif %}>
                {% if form.imagen_descriptiva.errors %}
                <ul class="list-unstyled">
                    <div class="alert alert-danger">
                        {% for error in form.imagen_descriptiva.errors %}      
                            <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                </ul>
                {% endif %}

                {% if form.imagen_descriptiva.help_text %}
                <div class="bg-light rounded px-2 my-2">
                    <small class="text-info">{{ form.imagen_descriptiva.help_text }}</small>
                </div>
                {% endif %}
            </div>
        </div>


        <div class="form-group row">
            <label for="id_archivo" class="col-sm-2 col-form-label">Archivo:</label>
            <div class="col-sm-10">
                {% if form.archivo.value != None %}
                <small>Actualmente:  <a href="{{form.archivo.value.url}}"> {{form.archivo.value}}</a> </small>
                {% endif %}
                <input type="file" class="dropify form-control-plaintext" id="id_archivo" 
                name="{{ form.archivo.name }}" 
                {% if form.archivo.field.required %}required{% endif %}>
                {% if form.archivo.errors %}
                    <div class="alert alert-danger">
                    {% for error in form.archivo.errors %}      
                        <strong>{{ error }}</strong>
                    {% endfor %}
                    </div>
                {% endif %}

                {% if form.archivo.help_text %}
                <div class="bg-light rounded px-2 my-2">
                    <small class="text-info">{{ form.archivo.help_text }}</small>
                </div>
                {% endif %}
            </div>
        </div>

        <div>
            <input class="btn btn-primary btn-block" type="submit" value="Crear Recurso">
        </div>

    </form>
</div>
{% endblock content %}