{% load static %}
{% load validacion_navbar %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> {% block titulo %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Fluent Kit CSS -->
    <link href={% static 'css/fluent-kit.min.css'%} rel="stylesheet">
    <link href={% static 'css/styles.css'%} rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar shadow-sm" style="overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y position-relative" style=" top:0; left:0;"
                    dir="ltr">
                    <div class="sidebar-header">
                        <div class="w-50 mx-auto">
                            <div class="bg-white rounded p-2 pt-4" style="height: 7rem;">
                                <div>
                                    <h3 class="text-primary font-weight-bold pl-2">FC</h3>
                                    <h3 class="text-primary font-weight-bold pl-2">CE</h3>
                                </div>
                                <i class="mi mi-Education mi-2x text-primary position-relative" style="transform: rotate(30deg); left: 45px; bottom: 105px;"></i>
                            </div>
                        </div>
                    </div>
                    {% block navbar %}
                    <ul class="list-unstyled components">
                        <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                            <a href="/">
                                <i class="mi mi-Home"></i> Inicio</a>
                        </li>

                        {% if request|supervisor_required %}
                        <li>
                            <a href="{% url 'visualizar_actividades' %}">
                                <i class="mi mi-Feedback"></i> Actividades Supervisores</a>
                        </li>
                        {% endif %}

                        {% comment %} {% if request|funcionario_required %}
                        <li>
                            <a href="#">
                                <i class="mi mi-ChatBubbles"></i> Mensajes</a>
                        </li>
                        {% endif %} {% endcomment %}

                        {% if request|encargado_required %}
                        <li class="{% if request.path == '/gestion_usuarios/lista_usuarios/alumnos/' or request.path == '/gestion_usuarios/agregar_usuario_form/1' %}active{% endif %}">
                            <a href="{% url 'lista_usuarios' 'alumnos' %}">
                                <i class="mi mi-Education"></i> Alumnos</a>
                        </li>
                        <li class="{% if request.path == '/gestion_usuarios/lista_usuarios/apoderados/' or request.path == '/gestion_usuarios/agregar_usuario_form/2' %}active{% endif %}">
                            <a href="{% url 'lista_usuarios' 'apoderados' %}">
                                <i class="mi mi-AllAppsMirrored"></i> Apoderados</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'lista_grupos' %}active{% endif %}">
                            <a href="{% url 'lista_grupos' %}">
                                <i class="mi mi-People"></i> Grupos</a>
                        </li>
                        {% endif %}

                        {% if request|funcionario_required %}
                        <li class="{% if request.resolver_match.url_name == 'biblioteca_digital' or request.resolver_match.view_name == 'recurso-detail'%}active{% endif %}">
                            <a href="{% url 'biblioteca_digital' %}">
                                <i class="mi mi-Library"></i> Recursos Académicos</a>
                        </li>
                        {% endif %}
                        <li class="{% if request.resolver_match.url_name == 'visualizar_consultas' or request.resolver_match.view_name == 'crear_consulta' or request.resolver_match.view_name == 'detalles_consulta' %}active{% endif %}">
                            <a href="{% url 'visualizar_consultas' %}">
                                <i class="mi mi-Package"></i> Consultas Ciudadanas</a>
                        </li>
                        {% comment %} {% if request|funcionario_required %}
                        <li>
                            <a href="#">
                                <i class="mi mi-Feedback"></i> Foro</a>
                        </li>
                        {% endif %} {% endcomment %}

                    </ul>

                    {% endblock %}
                </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;">
                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>
        </nav>
        <!-- END SIDEBAR -->

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar sticky-top navbar-dark bg-light fixed-nav shadow-sm mb-auto">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                        <i class="mi mi-List mi-1x"></i>
                        <span id="hide-panel">
                            Ocultar Panel
                        </span>
                        <span id="show-panel" style="display:none;">
                            Ver Panel
                        </span>
                    </button>
                </div>

                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mensajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notificaciones</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="img-fluid rounded-circle border border-default" src="{{user.foto.url}}" width="32" style="height: 32px; object-fit: cover"> 
                            {{ user.get_short_name }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Ver Perfil</a>
                            <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- JavaScript dependencies -->
    <!-- AJAX JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Fluent Kit JavaScript -->
    <script src={% static 'js/fluent-kit.min.js'%}></script>

    <!-- CUSTOM JS -->
    <script type="text/javascript" src={% static 'js/scripts.js'%}></script>
</body>

</html>