{% extends 'compumundohipermegared.html' %} {% block titulo %}
<title>Lista de {{grupo.nombre}}</title>
{% endblock %}
{% block content %}

<div class="card col-md-12 mt-4 mb-2 pb-4">
    <div class="card-body">
        <h3 class="card-title">Lista de {{grupo.nombre}}</h3>
        <p class="card-text">Bienvenido a la sección de los
            <strong>{{ grupo.nombre }}</strong>. Aquí podrá
            <strong>agregar</strong> o
            <strong>eliminar</strong> algunos de estos registrados.
        </p>
    </div>
</div>

<div class="pb-5">
    <a href="{% url 'agregar_usuario_form' grupo.pk %}">
        <button class="btn btn-primary float-right"> 
            <i class="mi mi-Add mi-4x"></i> AGREGAR <span class="text-uppercase">{{ grupo.nombre }}</span></button>
    </a>
</div>

{% if lista_usuarios %}
{% comment %} <td>
    <a class="recurso btn btn-danger btn-sm m-0" data-form="{% url 'eliminar_grupo' grupo.pk %}" data-toggle="modal" data-target="#recursoModal">
        <i class="mi mi-Delete mi-4x"></i> Borrar
    </a>
</td>
<td>
    <a class="recurso btn btn-danger btn-sm m-0" data-form="{% url 'editar_grupo' grupo.pk %}" data-toggle="modal" data-target="#recursoModal">
        <i class="mi mi-Update mi-4x"></i> Editar
    </a>
</td> {% endcomment %}
<table class="table table-borderless table-hover table-light rounded mt-4 shadow-sm">
    <thead>
        <tr>
            <th scope="col" class="font-weight-bold">ID</th>
            <th scope="col"class="font-weight-bold">RUT</th>
            <th scope="col"class="font-weight-bold">NOMBRE</th>
            <th scope="col"class="font-weight-bold">ELIMINAR</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in lista_usuarios %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.rut }}</td>
            <td>
                <a class="recurso btn btn-danger btn-sm m-0" data-form="{% url 'remover_usuario_form' grupo.pk usuario.pk %}" data-toggle="modal" data-target="#recursoModal">
                    <i class="mi mi-Delete mi-4x"></i> Borrar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <div class="bg-white rounded p-5 pt-5 pb-4 mt-4 shadow-sm text-center">No se encontraron <strong>usuarios</strong> registrados</div>
{% endif %}
<div class="modal" id="recursoModal"></div>
{% endblock %}