{% extends 'compumundohipermegared.html' %}{% block titulo %}
<title>Editar Profile {{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}}</title>
{% endblock %} {% block content %}

<div class="bg-white rounded p-3 mt-4 shadow-sm">
    <div class="text-center mb-3">
        <h4 class="font-weight-bold pb-2">Modificar Mis Datos</h4>
    </div>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="id_nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" maxlength="50" id="id_nombre" name="nombre" value="{{form.nombre.value}}" autocomplete='given-name' required> 
            </div>
        </div>
        <div class="form-group row">
            <label for="id_apellido_paterno" class="col-sm-2 col-form-label">Apellido Paterno:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" maxlength="50" id="id_apellido_paterno" name="apellido_paterno" value="{{form.apellido_paterno.value}}" autocomplete='family-name' required> 
            </div>
        </div>
        <div class="form-group row">
            <label for="id_apellido_materno" class="col-sm-2 col-form-label">Apellido Materno:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" maxlength="50" id="id_apellido_materno" name="apellido_materno" value="{{form.apellido_materno.value}}" autocomplete='additional-name' required> 
            </div>
        </div>
        <div class="form-group row">
            <label for="id_email" class="col-sm-2 col-form-label">Correo Electrónico:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control-plaintext" maxlength="50" id="id_email" name="email" value="{{form.email.value}}" autocomplete='email' required> 
            </div>
        </div>
        <div class="form-group row">
            <label for="id_rut" class="col-sm-2 col-form-label">RUT:</label>
            <div class="col-sm-10">
                {% if form.rut.value %}
                <input type="text" class="form-control" maxlength="12" id="id_rut" name="rut" pattern="\d{3,8}-[\d|kK]{1}" value="{{form.rut.value}}" title="Debe ingresar el rut 'sin puntos'"
                    placeholder="Ej: 12345678-9 (sin puntos)" required>
                    {% if form.rut.errors %}
                    <small class="text-danger"> Ya existe un usuario con este rut. Por favor ingrese otro.</small>
                    {% endif %}
                {% else %}
                    <input type="text" class="form-control" maxlength="12" id="id_rut" name="rut" pattern="\d{3,8}-[\d|kK]{1}" title="Debe ingresar el rut 'sin puntos'"
                placeholder="Ej: 12345678-9 (sin puntos)" required>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_num_documento" class="col-sm-2 col-form-label">N° de Documento:</label>
            <div class="col-sm-10">
                {% if form.num_documento.value %}
                <input type="text" class="form-control-plaintext" maxlength="15" id="id_num_documento" name="num_documento" value="{{form.num_documento.value}}" required> 
                    {% if form.num_documento.errors %}
                    <small class="text-danger"> Ya existe un usuario con este n° de documento. Por favor ingrese otro.</small>
                    {% endif %}
                {% else %}
                <input type="text" class="form-control-plaintext" maxlength="15" id="id_num_documento" name="num_documento" required> 
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="id_fecha_nacimiento" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
            <div class="col-sm-10">
                {% if form.errors %}
                <input type="text" class="form-control" maxlength="12" id="id_fecha_nacimiento" name="fecha_nacimiento" pattern="\d{1,2}/\d{1,2}/\d{4}"  value="{{form.fecha_nacimiento.value}}" title="Debe escribirlo en el formato DD/MM/AAAA"
                    placeholder="Ej: 13/06/1995" required>
                {% else %}
                    <input type="text" class="form-control" maxlength="12" id="id_fecha_nacimiento" name="fecha_nacimiento" pattern="\d{1,2}/\d{1,2}/\d{4}" value="{{form.fecha_nacimiento.value|date:'d/m/Y'}}" title="Debe escribirlo en el formato DD/MM/AAAA"
                placeholder="Ej: 13/06/1995" required>
                {% endif %}
            </div>
        </div>
        <!-- <div class="form-group row">
            <label for="id_fecha_nacimiento" class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control-plaintext" id="id_fecha_nacimiento" name="fecha_nacimiento" value="{{form.fecha_nacimiento.value|date:'d/m/Y'}}" required>
            </div>
        </div> -->
        <div class="form-group row">
            <label for="id_foto" class="col-sm-2 col-form-label">Foto de Perfil: </label>
            <div class="col-sm-10">
                {% if form.foto.value %}
                <small>Actualmente: {{form.foto.value.url}}</small>
                {% endif %}
                <input type="file" class="dropify form-control-plaintext" id="id_foto" name="foto" required>
            </div>
        </div>

        <!-- {{form.as_p}} -->
        {% if form.errors %}
        <p>{{form.errors}}</p>
        {% endif %}
        
        <button class="btn btn-primary btn-block" type="submit">GUARDAR CAMBIOS</button>
    </form>
</div>
{% endblock %}